<h2>Prueba de Poker</h2>
<div class="classTablesDiv">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Cat</th>
                <th scope="col">Oi</th>
                <th scope="col">Prob</th>
                <th scope="col">Ei</th>
                <th scope="col">((Ei - Oi)^2) / Ei</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>D</td>
                <td>{{contadorD}}</td>
                <td>{{probabilidadD}}</td>
                <td>{{eiD}}</td>
                <td>{{pruebaPokerD}}</td>
            </tr>
            <tr>
                <td>O</td>
                <td>{{contadorO}}</td>
                <td>{{probabilidadO}}</td>
                <td>{{eiO}}</td>
                <td>{{pruebaPokerO}}</td>
            </tr>
            <tr>
                <td>T</td>
                <td>{{contadorT}}</td>
                <td>{{probabilidadT}}</td>
                <td>{{eiT}}</td>
                <td>{{pruebaPokerT}}</td>
            </tr>
            <tr>
                <td>K</td>
                <td>{{contadorK}}</td>
                <td>{{probabilidadK}}</td>
                <td>{{eiK}}</td>
                <td>{{pruebaPokerK}}</td>
            </tr>
            <tr>
                <td>F</td>
                <td>{{contadorF}}</td>
                <td>{{probabilidadF}}</td>
                <td>{{eiF}}</td>
                <td>{{pruebaPokerF}}</td>
            </tr>
            <tr>
                <td>P</td>
                <td>{{contadorP}}</td>
                <td>{{probabilidadP}}</td>
                <td>{{eiP}}</td>
                <td>{{pruebaPokerP}}</td>
            </tr>
            <tr>
                <td>Q</td>
                <td>{{contadorQ}}</td>
                <td>{{probabilidadQ}}</td>
                <td>{{eiQ}}</td>
                <td>{{pruebaPokerQ}}</td>
            </tr>
        </tbody>
    </table>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Datos</th>
                <th scope="col">Valor</th>  
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Inversa Chi2</th>
                <td>{{invChiCuadrado}}</td>
            </tr>
            <tr>
                <th scope="row">Total Poker</th>
                <td>{{totalPruebaPoker}}</td>
            </tr>
            <tr>
                <th scope="row">¿Aprobó?</th>
                <td>{{estaAprobado}}</td>
            </tr>
        </tbody>
    </table>
</div>