<h2>Prueba de Medias</h2>
<div class="classTablesDiv">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Datos</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Aceptación</th>
                <td>{{aceptacion * 100}}%</td>
            </tr>
            <tr>
                <th scope="row">Alfa</th>
                <td>{{alfa * 100}}%</td>
            </tr>
            <tr>
                <th scope="row">1 - (Alfa / 2)</th>
                <td>{{unoMenosAlfaEntreDos}}</td>
            </tr>
            <tr>
                <th scope="row">Z</th>
                <td>{{z}}</td>
            </tr>
            <tr>
                <th scope="row">Limite Inferior</th>
                <td>{{limiteInferior}}</td>
            </tr>
            <tr>
                <th scope="row">Limite Superior</th>
                <td>{{limiteSuperior}}</td>
            </tr>
            <tr>
                <th scope="row">¿Aprobó?</th>
                <td>{{estaAprobado}}</td>
            </tr>
        </tbody>
    </table>
</div>